// app global css in Sass form

.text-gochi-hand
  font-family: 'Gochi Hand', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif

.primary-gradient-background
  background: rgb(255,107,67);
  background: linear-gradient(315deg, rgba(255,107,67,1) 0%, rgba(255,194,38,1) 100%);

.danger-gradient-background
  background: rgb(255,170,67);
  background: linear-gradient(135deg, rgba(255,170,67,1) 0%, rgba(255,48,38,1) 100%);

.grey-gradient-background
  background: rgb(240,235,229);
  background: linear-gradient(135deg, rgba(240,235,229,1) 0%, rgba(157,157,157,1) 100%)

.cyan-gradient-background
  background: rgb(24,139,230);
  background: linear-gradient(315deg, rgba(24,139,230,1) 0%, rgba(28,227,193,1) 100%)

.purple-gradient-background
  background: rgb(170,112,232);
  background: linear-gradient(315deg, rgba(170,112,232,1) 0%, rgba(33,45,204,1) 100%);

.orange-gradient
  background-image: linear-gradient( 135deg, #F2C94C, #F2994A, #F2C94C);

.green-gradient
  background-image: linear-gradient( 135deg, #81FBB8, #28C76F, #81FBB8);

.blue-gradient
  background-image: linear-gradient( 135deg, #ABDCFF, #0396FF, #ABDCFF);

.purple-gradient
  background-image: linear-gradient( 135deg, #CE9FFC, #7367F0, #CE9FFC);

.small-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: block
  @media (min-width: $breakpoint-sm-min)
    display: none

.large-screen-only
  @media (max-width: $breakpoint-xs-max)
    display: none
  @media (min-width: $breakpoint-sm-min)
    display: block

.constrain
  max-width: 975px
  margin: 0 auto

.constrain-some
  max-width: 730px
  margin: 0 auto

.constrain-more
  max-width: 600px
  margin: 0 auto

.comment-whitespace
  white-space: pre-wrap

.sticky-page-container
  transform: translateZ(0)

.fab-sticky-button
  position: fixed
  z-index: 3
  bottom: 18px
  right: 18px
